<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="A11yInsights-PublicPackage" value="https://accessibility-insights.pkgs.visualstudio.com/1deb2e43-e88e-4e2a-867d-4c227f582bda/_packaging/A11yInsights-PublicPackage/nuget/v3/index.json" />
  </packageSources>
</configuration>