<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axe.Windows" version="0.3.2-prerelease" targetFramework="net471" />
  <package id="CommandLineParser" version="2.5.0" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.4" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.2" targetFramework="net471" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.2" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.VisualStudioEng.MicroBuild.Core" version="0.4.1" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net471" />
  <package id="Text.Analyzers" version="2.6.4" targetFramework="net471" developmentDependency="true" />
  <package id="WiX" version="3.11.1" targetFramework="net471" />
</packages>