<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) Microsoft. All rights reserved.
Licensed under the MIT license. See LICENSE file in the project root for full license information.-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*"
           Name="Accessibility Insights For Windows v1.1" Language="1033" Version="$(var.BuildVer)" 
           Manufacturer="Microsoft" 
           UpgradeCode="0D760959-F713-46C4-9A3D-4E73619EE3B5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86"/>
    <MajorUpgrade Schedule="afterInstallInitialize" RemoveFeatures="All"
                  AllowDowngrades="no"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." 
                  AllowSameVersionUpgrades="no"/>
    <Binary Id="CustomActions"
            SourceFile="..\AccessibilityInsights.CustomActions.Package\bin\Release\AccessibilityInsights.CustomActions.CA.dll" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <WixVariable Id="WixUIDialogBmp" Value="Resources\DialogBackground.png" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\WixDialogBanner.png" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Accessibility Insights for Windows" Level="1">
      <ComponentRef Id="VersionSwitcherComp" />
    </Feature>

    <!--Until WIX_IS_NETFRAMEWORK_47_OR_LATER_INSTALLED property is supported,
    this is our workaround as suggested here: https://github.com/wixtoolset/issues/issues/5575 -->
    <!-- .NET 4.7.2 value is taken from https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="[ProductName] requires .NET Framework 4.7.2 or later.">
      <![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 >= "#461808")]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="AccessibilityInsightsFolder" Name="AccessibilityInsights" >
          <Directory Id="INSTALLFOLDER" Name="1.1">
            <Directory Id="VersionSwitcher" Name="VersionSwitcher">
              <Component Id="VersionSwitcherComp" Guid="1AAD6099-09E1-4E8F-A28B-57806F4A29DF">
                <!-- ID's are needed for these files, since several of them are also installed with the main app -->
                <File Source="..\AccessibilityInsights.VersionSwitcher\bin\Release\net472\AccessibilityInsights.VersionSwitcher.exe" Id="version_switcher"/>
                <File Source="..\AccessibilityInsights.VersionSwitcher\bin\Release\net472\AccessibilityInsights.VersionSwitcher.exe.config" Id="version_switcher_config"/>
                <File Source="..\AccessibilityInsights.VersionSwitcher\bin\Release\net472\AccessibilityInsights.SetupLibrary.dll" Id ="version_switcher_setuplibrary"/>
                <File Source="..\AccessibilityInsights.VersionSwitcher\bin\Release\net472\AccessibilityInsights.Win32.dll" Id ="version_switcher_win32"/>
                <File Source="..\AccessibilityInsights.VersionSwitcher\bin\Release\net472\Microsoft.Deployment.WindowsInstaller.dll" Id ="version_switcher_deployment"/>
                <File Source="..\AccessibilityInsights.VersionSwitcher\bin\Release\net472\Newtonsoft.Json.dll" Id ="version_switcher_newtonsoft"/>
              </Component>
            </Directory>

          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <CustomAction Id="RemoveUserConfigFiles" BinaryKey="CustomActions" DllEntry="RemoveUserConfigFiles" Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action='RemoveUserConfigFiles' After='InstallFinalize'>Installed and (REMOVE="ALL") and NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
