<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="a11y-insights-public" value="https://accessibility-insights.pkgs.visualstudio.com/_packaging/a11y-insights-public/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="a11y-insights-public">
      <package pattern="*" />
    </packageSource>    
  </packageSourceMapping>
</configuration>